<!-- Main content container -->
<div class="main">
    
    <!-- Footer section -->
    <footer>
        
        <!-- Link to navigate to the login page -->
        <%= link_to "LOGIN", new_user_session_path, id: "login" %>
        
        <!-- Link to navigate to the sign-up page -->
        <%= link_to "SIGN UP", new_user_registration_path, id: "signup" %>
    </footer>
</div>
